@model RecipeBlog.Models.Pagecontent

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Create</h1>

<h4>Pagecontent</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Pagename" class="control-label"></label>
                <input asp-for="Pagename" class="form-control" />
                <span asp-validation-for="Pagename" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contentkey" class="control-label"></label>
                <input asp-for="Contentkey" class="form-control" />
                <span asp-validation-for="Contentkey" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contentvalue" class="control-label"></label>
                <input asp-for="Contentvalue" class="form-control" />
                <span asp-validation-for="Contentvalue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

